button {
  background-color: darkolivegreen;
  padding: 15px 30px;
  border: none;
  border-radius: 3px;
  margin: 10px;
  cursor: pointer;
  color: rgb(232, 208, 208);
  font-weight: bold;
}
button:hover {
  background-color: darkgreen;
}
/* body {
  background-color: rgb(200, 227, 153);
}
.body {
  background-color: black;
} */
